:root{
    --White: hsl(0, 0%, 100%);
    --RoseWhite: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsla(30, 18%, 87%, 0.331);
    --WengeBrown: hsl(30, 10%, 34%);
    --DarkCharcoal: hsl(24, 5%, 18%);
    --darkRaspberry: hsl(332, 51%, 32%);
    --Nutmeg: hsl(14, 45%, 36%);
}